<!-- Navigation -->
<a class="menu-toggle rounded" href="#" (click)="isMenuOpen = !isMenuOpen" [ngClass]="isMenuOpen ? 'active' : ''">
    <fa-icon icon="{{isMenuOpen ? 'times' : 'bars'}}"></fa-icon>
</a>
<nav id="sidebar-wrapper" [ngClass]="isMenuOpen ? 'active' : ''">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top" jhiTranslate="global.navmenu.title">Hotel Zum Goldenen Löwen</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top" jhiTranslate="global.navmenu.home">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about" jhiTranslate="global.navmenu.about">About Us</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#services" jhiTranslate="global.navmenu.services">Services</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#portfolio" jhiTranslate="global.navmenu.portfolio">Pictures</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#contact" jhiTranslate="global.navmenu.contact">Contact</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#getting-there" jhiTranslate="global.navmenu.getting-there">Getting There</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" (click)="login()" id="login" jhiTranslate="global.menu.account.login">Sign in</a>
        </li>
        <li class="sidebar-nav-item" *ngIf="languages && languages.length > 1">
            <ul class="list-inline language-options">
                <li *ngFor="let language of languages" class="sidebar-nav-item list-inline-item">
                    <a class="js-scroll-trigger" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);isMenuOpen = false;">{{language | findLanguageFromKey}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
