.page {
  display: flex;
  flex-direction: column;
}

@page {
  size: A4;
  margin: 0;
}

.new-line {
  white-space: pre;
}

.page-content {
  display: flex;
  flex-direction: column;
  background: white;
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border-style: solid;
  border-width: 5px;
}

.table-responsive {
  margin: 20px 0;

  * {
    background-color: white;
  }
}

.center {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
}

.customer {
  display: flex;
  flex-direction: column;

  margin: 130px 0 70px 0;
}

.hotel {
  display: flex;
  flex-direction: column;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

@media print {
  html,
  body {
    width: 210mm;
    min-height: 297mm;
  }
  .page-content {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
