<div class="page">
    <div class="page-content">
        <div class="header">
            <div
                class="customer new-line">{{getGenderText() + ' ' + invoice.customerName + '\n'}}{{formatBillingAddress()}}
            </div>
            <div class="hotel new-line">
                <img class="logo" src="../../../../content/images/Logo.png">
                {{invoice.hotelAddress}}
            </div>
        </div>
        <div class="body">
            <div class="text-right">{{invoice.invoiceDate | date:'short'}}</div>
            <div class="bold">{{('hotelManagementApp.invoice.detail.title' | translate) + ' #' + invoice.id}}</div>
            <div jhiTranslate="hotelManagementApp.invoice.print.salutation"
                 [translateValues]="{gender:getGenderText(), customer:invoice.customerName}"></div>
            <div jhiTranslate="hotelManagementApp.invoice.print.text"></div>

            <div class="table-responsive">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col" class="center"><span jhiTranslate="hotelManagementApp.roomOccupancy.room">Room</span></th>
                        <th scope="col" class="center"><span jhiTranslate="hotelManagementApp.booking.startDate">Start Date</span>
                        <th scope="col" class="center"><span jhiTranslate="hotelManagementApp.booking.endDate">End Date</span>
                        <th scope="col" class="center"><span jhiTranslate="hotelManagementApp.booking.durationNights">Nights</span>
                        <th scope="col" class="center"><span jhiTranslate="hotelManagementApp.booking.price">Price</span>
                        <th scope="col" class="center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let price of filteredPrices()">
                        <ng-container *ngIf="shouldShowRoomInfo(price.roomNumber); else emptyData">
                            <td class="center">{{price.roomNumber}}</td>
                            <td class="center">{{invoice.startDate | date:'shortDate'}}</td>
                            <td class="center">{{invoice.endDate | date:'shortDate'}}</td>
                            <td class="center">{{invoice.durationNights}}</td>
                        </ng-container>
                        <ng-template #emptyData>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </ng-template>
                        <td class="text-right">{{price.price | currency:'EUR'}}</td>
                        <td>{{price.discountPercent !== 0 ? price.discountPercent + '% ' + getNoteTranslation(price.note) : getNoteTranslation(price.note)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div jhiTranslate="hotelManagementApp.invoice.print.regards"></div>
        </div>
    </div>
</div>
