<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.room.home.title">Rooms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room" [routerLink]="['/room/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.room.home.createLabel">
            Create a new Room
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="rooms?.length === 0">
        <span jhiTranslate="hotelManagementApp.room.home.notFound">No rooms found</span>
    </div>
    <form name="searchForm" role="form" novalidate [formGroup]="searchForm">
        <div class="form-group">
            <input type="text" name="term" class="form-control"  formControlName="term" placeholder="{{'global.search.placeholder' | translate}}" (input)="onChangeSearchTerm()"/>
        </div>
    </form>
    <div class="table-responsive" *ngIf="rooms?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"  jhiSortBy="number"><span jhiTranslate="hotelManagementApp.room.number">Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maxCapacity"><span jhiTranslate="hotelManagementApp.room.maxCapacity">Max Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceOneAdult"><span jhiTranslate="hotelManagementApp.room.priceOneAdult">Price One Adult</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceTwoAdults"><span jhiTranslate="hotelManagementApp.room.priceTwoAdults">Price Two Adults</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceThreeAdults"><span jhiTranslate="hotelManagementApp.room.priceThreeAdults">Price Three Adults</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceOneAdultOneChild"><span jhiTranslate="hotelManagementApp.room.priceOneAdultOneChild">Price One Adult One Child</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceTwoAdultsOneChild"><span jhiTranslate="hotelManagementApp.room.priceTwoAdultsOneChild">Price Two Adults One Child</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priceOneAdultTwoChildren"><span jhiTranslate="hotelManagementApp.room.priceOneAdultTwoChildren">Price One Adult Two Children</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms ;trackBy: trackId">
<!--                <td><a [routerLink]="['/room', room.id, 'view' ]">{{room.id}}</a></td>-->
                <td><a [routerLink]="['/room', room.id, 'view' ]">{{room.number}}</a></td>
                <td>{{room.maxCapacity}}</td>
                <td>{{room.priceOneAdult}}</td>
                <td>{{room.priceTwoAdults}}</td>
                <td>{{room.priceThreeAdults}}</td>
                <td>{{room.priceOneAdultOneChild}}</td>
                <td>{{room.priceTwoAdultsOneChild}}</td>
                <td>{{room.priceOneAdultTwoChildren}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/room', room.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room', room.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room', { outlets: { popup: room.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="rooms?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
