<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-room-heading" jhiTranslate="hotelManagementApp.room.home.createOrEditLabel">Create or edit a Room</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.number" for="field_number">Number</label>
                    <input type="text" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                    <div *ngIf="editForm.get('number').invalid && (editForm.get('number').dirty || editForm.get('number').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('number').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('number').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Number' }">
                            This field should follow pattern for "Number".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.maxCapacity" for="field_maxCapacity">Max Capacity</label>
                    <input type="number" class="form-control" name="maxCapacity" id="field_maxCapacity" min="1" max="3"
                           formControlName="maxCapacity"/>
                    <div *ngIf="editForm.get('maxCapacity').invalid && (editForm.get('maxCapacity').dirty || editForm.get('maxCapacity').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maxCapacity').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maxCapacity').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maxCapacity').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 3 }">
                            This field cannot be more than 3.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('maxCapacity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.priceOneAdult" for="field_priceOneAdult">Price One Adult</label>
                    <input type="number" class="form-control" name="priceOneAdult" id="field_priceOneAdult"
                           formControlName="priceOneAdult"/>
                    <div *ngIf="editForm.get('priceOneAdult').invalid && (editForm.get('priceOneAdult').dirty || editForm.get('priceOneAdult').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceOneAdult').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceOneAdult').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priceOneAdult')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('maxCapacity').value > 1">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.priceTwoAdults" for="field_priceTwoAdults">Price Two Adults</label>
                    <input type="number" class="form-control" name="priceTwoAdults" id="field_priceTwoAdults"
                           formControlName="priceTwoAdults"/>
                    <div *ngIf="editForm.get('priceTwoAdults').invalid && (editForm.get('priceTwoAdults').dirty || editForm.get('priceTwoAdults').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceTwoAdults').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priceTwoAdults')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('maxCapacity').value > 2">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.priceThreeAdults" for="field_priceThreeAdults">Price Three Adults</label>
                    <input type="number" class="form-control" name="priceThreeAdults" id="field_priceThreeAdults"
                           formControlName="priceThreeAdults"/>
                    <div *ngIf="editForm.get('priceThreeAdults').invalid && (editForm.get('priceThreeAdults').dirty || editForm.get('priceThreeAdults').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceThreeAdults').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priceThreeAdults')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('maxCapacity').value > 1">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.priceOneAdultOneChild" for="field_priceOneAdultOneChild">Price One Adult One Child</label>
                    <input type="number" class="form-control" name="priceOneAdultOneChild" id="field_priceOneAdultOneChild"
                           formControlName="priceOneAdultOneChild"/>
                    <div *ngIf="editForm.get('priceOneAdultOneChild').invalid && (editForm.get('priceOneAdultOneChild').dirty || editForm.get('priceOneAdultOneChild').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceOneAdultOneChild').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priceOneAdultOneChild')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('maxCapacity').value > 2">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.priceTwoAdultsOneChild" for="field_priceTwoAdultsOneChild">Price Two Adults One Child</label>
                    <input type="number" class="form-control" name="priceTwoAdultsOneChild" id="field_priceTwoAdultsOneChild"
                           formControlName="priceTwoAdultsOneChild"/>
                    <div *ngIf="editForm.get('priceTwoAdultsOneChild').invalid && (editForm.get('priceTwoAdultsOneChild').dirty || editForm.get('priceTwoAdultsOneChild').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceTwoAdultsOneChild').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priceTwoAdultsOneChild')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('maxCapacity').value > 2">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.room.priceOneAdultTwoChildren" for="field_priceOneAdultTwoChildren">Price One Adult Two Children</label>
                    <input type="number" class="form-control" name="priceOneAdultTwoChildren" id="field_priceOneAdultTwoChildren"
                           formControlName="priceOneAdultTwoChildren"/>
                    <div *ngIf="editForm.get('priceOneAdultTwoChildren').invalid && (editForm.get('priceOneAdultTwoChildren').dirty || editForm.get('priceOneAdultTwoChildren').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priceOneAdultTwoChildren').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priceOneAdultTwoChildren')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
