<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="room">
            <h2><span jhiTranslate="hotelManagementApp.room.detail.title">Room</span> {{room.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.room.number">Number</span></dt>
                <dd>
                    <span>{{room.number}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.room.maxCapacity">Max Capacity</span></dt>
                <dd>
                    <span>{{room.maxCapacity}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.room.priceOneAdult">Price One Adult</span></dt>
                <dd>
                    <span>{{room.priceOneAdult}}</span>
                </dd>
                <dt *ngIf="room.maxCapacity >= 2"><span jhiTranslate="hotelManagementApp.room.priceTwoAdults">Price Two Adults</span></dt>
                <dd *ngIf="room.maxCapacity >= 2">
                    <span>{{room.priceTwoAdults}}</span>
                </dd>
                <dt *ngIf="room.maxCapacity == 3"><span jhiTranslate="hotelManagementApp.room.priceThreeAdults">Price Three Adults</span></dt>
                <dd *ngIf="room.maxCapacity == 3">
                    <span>{{room.priceThreeAdults}}</span>
                </dd>
                <dt *ngIf="room.maxCapacity >= 2"><span jhiTranslate="hotelManagementApp.room.priceOneAdultOneChild">Price One Adult One Child</span></dt>
                <dd *ngIf="room.maxCapacity >= 2">
                    <span>{{room.priceOneAdultOneChild}}</span>
                </dd>
                <dt *ngIf="room.maxCapacity >= 3"><span jhiTranslate="hotelManagementApp.room.priceTwoAdultsOneChild">Price Two Adults One Child</span></dt>
                <dd *ngIf="room.maxCapacity >= 3">
                    <span>{{room.priceTwoAdultsOneChild}}</span>
                </dd>
                <dt *ngIf="room.maxCapacity >= 3"><span jhiTranslate="hotelManagementApp.room.priceOneAdultTwoChildren">Price One Adult Two Children</span></dt>
                <dd *ngIf="room.maxCapacity >= 3">
                    <span>{{room.priceOneAdultTwoChildren}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/room', room.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
