<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-booking-heading" *ngIf="!!editForm.get('id').value" jhiTranslate="hotelManagementApp.booking.home.editLabel" [translateValues]="{id: editForm.get('id').value}">
                Create or edit a Booking
            </h2>
            <h2 id="jhi-booking-create-heading" *ngIf="editForm.get('id').value === null" jhiTranslate="hotelManagementApp.booking.home.createLabel">
                Create New Booking
            </h2>
            <div class="mt-3">
                <jhi-alert-error></jhi-alert-error>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="hotelManagementApp.booking.startDate" for="field_startDate">Start Date</label>
                        <div class="d-flex">
                            <input id="field_startDate" type="datetime-local" class="form-control" name="startDate"
                                   formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"
                                   (change)="onChangeOccupancy()"/>
                        </div>
                        <div *ngIf="editForm.get('startDate').invalid && (editForm.get('startDate').dirty || editForm.get('startDate').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('startDate').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('startDate').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="hotelManagementApp.booking.endDate" for="field_endDate">End Date</label>
                        <div class="d-flex">
                            <input id="field_endDate" type="datetime-local" class="form-control" name="endDate"
                                   formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"
                                   (change)="onChangeOccupancy()"/>
                        </div>
                        <div *ngIf="editForm.get('endDate').invalid && (editForm.get('endDate').dirty || editForm.get('endDate').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('endDate').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('endDate').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="hotelManagementApp.booking.stayDuration" for="field_durationNights">Aufenthalt</label>
                        <div class="input-group">
                            <input type="number" class="form-control" name="durationNights" id="field_durationNights"
                                   formControlName="durationNights"
                                   readonly />
                            <div class="input-group-append">
                                <span class="input-group-text" jhiTranslate="hotelManagementApp.booking.durationNights">Nächte</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-control-label" jhiTranslate="hotelManagementApp.booking.cancellationNoticeNights" for="field_cancellationNoticeNights">Cancellation Notice Nights</label>
                        <div class="input-group">
                            <input type="number" class="form-control" name="cancellationNoticeNights" id="field_cancellationNoticeNights"
                                   formControlName="cancellationNoticeNights"/>
                            <div class="input-group-append">
                                <span class="input-group-text" jhiTranslate="hotelManagementApp.booking.cancellationDays">Days</span>
                            </div>
                        </div>
                        <div *ngIf="editForm.get('cancellationNoticeNights').invalid && (editForm.get('cancellationNoticeNights').dirty || editForm.get('cancellationNoticeNights').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('cancellationNoticeNights').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('cancellationNoticeNights').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                This field should be at least 0.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('cancellationNoticeNights')?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <h6><label jhiTranslate="hotelManagementApp.booking.customer" for="field_customer">Customer</label></h6>
                        <ng-select id="field_customer" formControlName="customer"
                                   [items]="selectableCustomers$ | async"
                                   (change)="onChangeOccupancy()"
                                   [loading]="loadingCustomers"
                                   [typeahead]="customerFilter$"
                                   bindLabel="name"
                                   labelForId="id"
                                   placeholder="{{'hotelManagementApp.booking.customerWidget.placeholder' | translate}}"
                                   typeToSearchText="{{'hotelManagementApp.booking.customerWidget.typeToSearchText' | translate}}"
                                   notFoundText="{{'hotelManagementApp.booking.customerWidget.notFoundText' | translate}}">
                            <ng-template ng-label-tmp let-item="item">
                                <span>{{item.id}}</span> - <span>{{item.name}}</span>
                                <small *ngIf="item.companyName" class="ml-2">{{item.companyName}}</small>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span [ngOptionHighlight]="search">{{item.id}}</span> - <span [ngOptionHighlight]="search">{{item.name}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <small *ngIf="item.companyName" [ngOptionHighlight]="search">{{item.companyName}}</small>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control-label" style="margin-bottom: 0.7rem;" jhiTranslate="hotelManagementApp.booking.event" for="field_event">Event</label> (optional)
                        <ng-select id="field_event" formControlName="event"
                                   [items]="events"
                                   [addTag]="true"
                                   placeholder="{{'hotelManagementApp.booking.eventWidget.placeholder' | translate}}"
                                   addTagText="{{'hotelManagementApp.booking.eventWidget.addTagText' | translate}}">
                        </ng-select>
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-md-12">
                        <h6><label jhiTranslate="hotelManagementApp.roomOccupancy.detail.title">Rooms</label></h6>
                        <div class="row" *ngFor="let occupancy of roomOccupancies">
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" jhiTranslate="hotelManagementApp.room.detail.title">Zimmer</span>
                                    </div>
                                    <input type="text" class="form-control" disabled
                                           [value]="occupancy.room.number" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" jhiTranslate="hotelManagementApp.roomOccupancy.numberAdults">Adults</span>
                                    </div>
                                    <input type="number" class="form-control" name="{{occupancy.room.number}}occupancyNumberAdults"
                                           id="field_{{occupancy.room.number}}occupancyNumberAdults" formControlName="occupancyNumberAdults"
                                           [(ngModel)]="occupancy.numberAdults" (change)="onChangeOccupancy()" />
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" jhiTranslate="hotelManagementApp.roomOccupancy.numberChildren">Children</span>
                                    </div>
                                    <input type="number" class="form-control" name="{{occupancy.room.number}}occupancyNumberChildren"
                                           id="field_{{occupancy.room.number}}occupancyNumberChildren" formControlName="occupancyNumberChildren"
                                           [(ngModel)]="occupancy.numberChildren" (change)="onChangeOccupancy()" />
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <button class="btn btn-danger btn-sm" (click)="onRemoveOccupancy(occupancy)">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="hotelManagementApp.roomOccupancy.remove.action">Remove</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pr-3">
                        <ng-select id="field_roomToAdd" formControlName="roomToAdd"
                                   [ngModel]="roomToAdd"
                                   (change)="onAddRoomOccupancy($event)"
                                   placeholder="Zimmer hinzufügen..."
                                   notFoundText="Kein Zimmer gefunden">
                            <ng-option [value]="r" *ngFor="let r of availableRooms" [disabled]="r.booked">
                                {{r.room.number}}
                                <small *ngIf="!r.booked" class="ml-2"><span jhiTranslate="hotelManagementApp.room.maxCapacity">Capacity</span>: {{r.room.maxCapacity}}</small>
                                <small *ngIf="r.booked" class="ml-2" jhiTranslate="hotelManagementApp.room.occupied">Occupied</small>
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-md-12">
                        <h6><label jhiTranslate="hotelManagementApp.booking.price">Price</label></h6>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" jhiTranslate="hotelManagementApp.booking.discountPercent">Discount</span>
                                    </div>
                                    <input type="number" class="form-control" name="discountPercent" id="field_discountPercent"
                                           formControlName="discountPercent" (change)="onChangeOccupancy()"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                                <div *ngIf="editForm.get('discountPercent').invalid && (editForm.get('discountPercent').dirty || editForm.get('discountPercent').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('discountPercent').errors.required" jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('discountPercent').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                        This field should be at least 0.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('discountPercent').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                        This field cannot be more than 100.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.get('discountPercent')?.errors?.number" jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" jhiTranslate="hotelManagementApp.booking.totalPrice">Preis</span>
                                    </div>
                                    <input type="number" class="form-control" name="price" id="field_price"
                                           disabled formControlName="price" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
