<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.booking.home.title">Bookings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking" [routerLink]="['/booking/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.booking.home.createLabel">
            Create a new Booking
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col">
                    <input type="number" style="width: 6em;" id="filterId" [(ngModel)]="filterId"
                           (ngModelChange)="loadAll()"/>
                    <div jhiSortBy="id" class="mt-2">
                        <span jhiTranslate="hotelManagementApp.booking.id">No.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col">
                    <input id="filterStartDateFrom" type="text" style="width: 6em;" class="custom-form-input"
                           ngbDatepicker #fromDp="ngbDatepicker"
                           [(ngModel)]="filterStartDateFrom" (ngModelChange)="loadAll()" (click)="fromDp.toggle()"
                           [placeholder]="'hotelManagementApp.roomUtilization.home.input.from' | translate"/>
                    <input id="filterStartDateTo" type="text" style="width: 6em;" class="custom-form-input"
                           ngbDatepicker #toDp="ngbDatepicker"
                           [(ngModel)]="filterStartDateTo" (ngModelChange)="loadAll()" (click)="toDp.toggle()"
                           [placeholder]="'hotelManagementApp.roomUtilization.home.input.to' | translate"/>
                    <div jhiSortBy="startDate" class="mt-2">
                        <span jhiTranslate="hotelManagementApp.booking.startDate">From</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col">
                    <input id="filterEndDateFrom" type="text" style="width: 6em;" class="custom-form-input"
                           ngbDatepicker #fromDp2="ngbDatepicker"
                           [(ngModel)]="filterEndDateFrom" (ngModelChange)="loadAll()" (click)="fromDp2.toggle()"
                           [placeholder]="'hotelManagementApp.roomUtilization.home.input.from' | translate"/>
                    <input id="filterEndDateTo" type="text" style="width: 6em;" class="custom-form-input" ngbDatepicker
                           #toDp2="ngbDatepicker"
                           [(ngModel)]="filterEndDateTo" (ngModelChange)="loadAll()" (click)="toDp2.toggle()"
                           [placeholder]="'hotelManagementApp.roomUtilization.home.input.to' | translate"/>
                    <div jhiSortBy="endDate" class="mt-2">
                        <span jhiTranslate="hotelManagementApp.booking.endDate">To</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col"><span jhiTranslate="hotelManagementApp.booking.durationNights">Nights</span></th>
                <th scope="col">
                    <ng-select id="filterCustomer" style="width: 300px; font-weight: normal;"
                               [items]="selectableCustomers$ | async"
                               [(ngModel)]="filterCustomer"
                               (change)="loadAll()"
                               [loading]="loadingCustomers"
                               [typeahead]="customerFilter$"
                               bindLabel="name"
                               labelForId="id"
                               placeholder="{{'hotelManagementApp.booking.customerWidget.placeholder' | translate}}"
                               typeToSearchText="{{'hotelManagementApp.booking.customerWidget.typeToSearchText' | translate}}"
                               notFoundText="{{'hotelManagementApp.booking.customerWidget.notFoundText' | translate}}">
                        <ng-template ng-label-tmp let-item="item">
                            <span>{{item.id}}</span> - <span>{{item.name}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div>
                                <span [ngOptionHighlight]="search">{{item.id}}</span> - <span [ngOptionHighlight]="search">{{item.name}}</span>
                                <small class="ml-2" *ngIf="item.companyName" [ngOptionHighlight]="search">{{item.companyName}}</small>
                            </div>
                        </ng-template>
                    </ng-select>
                    <div jhiSortBy="customer" class="mt-2">
                        <span jhiTranslate="hotelManagementApp.booking.customer">Customer</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col">
                    <input type="text" style="width: 6em;" id="filterEvent"
                           [(ngModel)]="filterEvent" (ngModelChange)="loadAll()"/>
                    <div jhiSortBy="event" class="mt-2">
                        <span jhiTranslate="hotelManagementApp.booking.event">Event</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col">
                    <div jhiSortBy="rooms">
                        <span jhiTranslate="hotelManagementApp.room.home.title">Rooms</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col">
                    <div jhiSortBy="price">
                        <span jhiTranslate="hotelManagementApp.booking.price">Price</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </div>
                </th>
                <th scope="col">
                    <div class="custom-control custom-switch mb-5 pull-right">
                        <input type="checkbox" class="custom-control-input" id="filterShowCancelled"
                               [(ngModel)]="filterShowCancelled" (ngModelChange)="loadAll()">
                        <label class="custom-control-label" for="filterShowCancelled"
                               jhiTranslate="hotelManagementApp.booking.filter.showCancelled">
                            Show cancelled
                        </label>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings ;trackBy: trackId" [class.cancelled]="booking.bookingState === 'CANCELLED'">
                <td>
                    <span><a [routerLink]="['/booking', booking.id, 'view' ]">{{booking.id}}</a></span>
                </td>
                <td>
                    <span>{{booking.startDate | date:'short'}}</span>
                </td>
                <td>
                    <span>{{booking.endDate | date:'short'}}</span>
                </td>
                <td>
                    <span>{{booking.durationNights}}</span>
                </td>
                <td>
                    <span *ngIf="booking.customer">
                        <a [routerLink]="['/customer', booking.customer.id , 'view' ]" >{{booking.customer.id}} - {{booking.customer.name}}
                            <small class="ml-2" *ngIf="!!booking.customer.companyName">{{booking.customer.companyName}}</small></a>
                    </span>
                </td>
                <td>
                    {{booking.event}}
                </td>
                <td>
                    <span *ngFor="let room of booking.rooms; let i = index">
                        <span *ngIf="i === booking.rooms.length-1">{{room.room.number}}</span>
                        <span *ngIf="i < booking.rooms.length-1">{{room.room.number}},</span>
                    </span>
                </td>
                <td>
                    <span>{{booking.price | currency:'EUR'}}</span>
                </td>
                <td class="text-right">
                    <span *ngIf="booking.bookingState === 'CANCELLED'" class="mr-3" style="text-decoration: none; text-transform: uppercase;">
                        <span jhiTranslate="hotelManagementApp.booking.state.CANCELLED">{{booking.bookingState}}</span>
                    </span>
                    <div class="btn-group">
                        <button *ngIf="booking.bookingState !== 'CANCELLED'" (click)="createInvoice(booking.id)"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'book'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="hotelManagementApp.invoice.detail.title" style="text-decoration: none!important;">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view" style="text-decoration: none!important;">View</span>
                        </button>
                        <button *ngIf="booking.bookingState !== 'CANCELLED'"
                                type="submit"
                                [routerLink]="['/booking', booking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *ngIf="booking.bookingState !== 'CANCELLED'"
                                type="submit"
                                [routerLink]="['/booking', { outlets: { popup: booking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="hotelManagementApp.booking.cancel.action">Cancel</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-warning" *ngIf="bookings?.length === 0">
        <span jhiTranslate="hotelManagementApp.booking.home.notFound">No bookings found</span>
    </div>

    <div [hidden]="bookings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
