<form name="deleteForm" (ngSubmit)="confirmDelete(booking.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="hotelManagementApp.booking.cancel.title">Confirm cancellation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-booking-heading" jhiTranslate="hotelManagementApp.booking.cancel.question" [translateValues]="{id: booking.id}">Are you sure you want to delete this Booking?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Abort</span>
        </button>
        <button id="jhi-confirm-delete-booking" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="hotelManagementApp.booking.cancel.action">Cancel</span>
        </button>
    </div>
</form>
