<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="booking">
            <h2 class="d-inline mr-5"><span jhiTranslate="hotelManagementApp.booking.detail.title">Booking</span> {{booking.id}}</h2>
            <span [ngClass]="(booking.bookingState === 'ACTIVE')?'active':'cancelled'"
                  jhiTranslate="{{'hotelManagementApp.booking.state.' + booking.bookingState}}">Active/Cancelled</span>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <div class="form-row">
                <dl class="col-md-6 jh-entity-details">
                    <dt><span jhiTranslate="hotelManagementApp.booking.startDate">Start Date</span></dt>
                    <dd>
                        <span>{{booking.startDate | date:'short'}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.endDate">End Date</span></dt>
                    <dd>
                        <span>{{booking.endDate | date:'short'}}</span>
                    </dd><dt><span jhiTranslate="hotelManagementApp.booking.stayDuration">Duration</span></dt>
                    <dd>
                        <span>{{booking.durationNights}}</span>
                        <span jhiTranslate="hotelManagementApp.booking.durationNights">Nights</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.cancellationNoticeNights">Cancellation Notice Nights</span></dt>
                    <dd>
                        <span>{{booking.cancellationNoticeNights}}</span>
                        <span jhiTranslate="hotelManagementApp.booking.cancellationDays">Days</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.discountPercent">Discount</span></dt>
                    <dd>
                        <span>{{booking.discountPercent}}%</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.totalPrice">Price</span></dt>
                    <dd>
                        <span>{{booking.price | currency:'EUR'}}</span>
                    </dd>
                </dl>

                <dl class="col-md-6 jh-entity-details">
                    <dt><span jhiTranslate="hotelManagementApp.booking.customer">Customer</span></dt>
                    <dd>
                        <span *ngIf="booking.customer">
                            <a [routerLink]="['/customer', booking.customer.id, 'view']">{{booking.customer.id}} - {{booking.customer.name}} <span *ngIf="!!booking.customer.companyName">({{booking.customer.companyName}})</span></a>
                        </span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.event">Event</span></dt>
                    <dd>
                        <span>{{booking.event}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.rooms">Rooms</span></dt>
                    <dd>
                        <span *ngFor="let room of booking.rooms; let last = last">
                            <a [routerLink]="['/room', room?.room.id, 'view' ]">
                                {{room.room.number}} ({{room.numberAdults}} <span jhiTranslate="hotelManagementApp.roomOccupancy.numberAdults">Adults</span>, {{room.numberChildren}} <span jhiTranslate="hotelManagementApp.roomOccupancy.numberChildren">Children</span>)<br/>
                            </a>
                        </span>
                    </dd>
                </dl>
            </div> <!-- end row-->

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking', booking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
