<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="absenceReason">
            <h2><span
                jhiTranslate="hotelManagementApp.absenceReason.detail.title">Absence Reason</span> {{absenceReason.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.absenceReason.reason">Reason</span></dt>
                <dd>
                    <span>{{absenceReason.reason}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/absence-reason', absenceReason.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
