.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 150px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #222222;
  border-radius: 5%;
  > div {
    text-align: center;
    margin-bottom: 15px;
  }
}
