<div class="box" [ngStyle]="{'background': room.booked? 'rgba(255,0,0,0.2)':'rgba(0,255,0,0.2)'}">
    <div>{{room.room.number}}</div>
    <div>{{'hotelManagementApp.roomUtilization.home.maxPersons' | translate:{number: room.room.maxCapacity} }}</div>
</div>
