<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.roomUtilization.home.title">Room Utilization</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <form name="searchForm" role="form" novalidate (ngSubmit)="search()" [formGroup]="searchForm">
        <div class="d-flex flex-row">
            <div class="input-group custom-width">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <input id="field_from" type="text" class="form-control custom-form-input" name="fromDate"
                               ngbDatepicker
                               #fromDp="ngbDatepicker" formControlName="fromDate"
                               [placeholder]="'hotelManagementApp.roomUtilization.home.input.from' | translate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                    <div
                        *ngIf="searchForm.get('fromDate').invalid && (searchForm.get('fromDate').dirty || searchForm.get('fromDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="searchForm.get('fromDate').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div class="input-group custom-width">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <input id="field_to" type="text" class="form-control custom-form-input" name="toDate"
                               ngbDatepicker
                               #toDp="ngbDatepicker" formControlName="toDate"
                               [placeholder]="'hotelManagementApp.roomUtilization.home.input.to' | translate"/>
                        <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="toDp.toggle()"><fa-icon
                                        [icon]="'calendar-alt'"></fa-icon>
                                    </button>
                        </span>
                    </div>
                    <div
                        *ngIf="searchForm.get('toDate').invalid && (searchForm.get('toDate').dirty || searchForm.get('toDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="searchForm.get('toDate').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="input-group custom-width">
                <div class="d-flex flex-column">
                    <input type="number" class="form-control custom-form-input" name="minCapacity" id="minCapacity"
                           formControlName="minCapacity" min="1" max="3"
                           [placeholder]="'hotelManagementApp.roomUtilization.home.input.minCapacity' | translate"/>
                    <div
                        *ngIf="searchForm.get('minCapacity').invalid && (searchForm.get('minCapacity').dirty || searchForm.get('minCapacity').touched)">
                        <small class="form-text text-danger"
                               *ngIf="searchForm.get('minCapacity').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="searchForm.get('minCapacity').errors.min" jhiTranslate="entity.validation.min"
                               [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="searchForm.get('minCapacity').errors.max" jhiTranslate="entity.validation.max"
                               [translateValues]="{ max: 3}">
                            This field cannot be more than 3.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.get('minCapacity')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <button id="search-utilization" class="btn btn-primary float-right" type="submit">
            <span jhiTranslate="hotelManagementApp.roomUtilization.home.search">
            Search
            </span>
            </button>
        </div>
    </form>
    <div class="content">
        <div class="d-flex flex-row flex-wrap">
            <jhi-room-status class="box" *ngFor="let room of roomsFree" [room]="room"></jhi-room-status>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <jhi-room-status class="box" *ngFor="let room of roomsBooked" [room]="room"></jhi-room-status>
        </div>
        <div class="d-flex flex-row flex-wrap"
             *ngIf="searchSuccess && roomsBooked.length === 0 && roomsFree.length === 0">{{'hotelManagementApp.roomUtilization.home.noMatchingRooms' | translate}}</div>
    </div>
</div>
