<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workload">
            <h2><span jhiTranslate="hotelManagementApp.workload.detail.title">Workload</span> {{workload.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.workload.startDate">Start Date</span></dt>
                <dd>
                    <span>{{workload.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.workload.endDate">End Date</span></dt>
                <dd>
                    <span>{{workload.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.workload.breakIncluded">Break Included</span></dt>
                <dd>
                    <span
                        jhiTranslate="{{'hotelManagementApp.workload.' + workload.breakIncluded}}">{{workload.breakIncluded}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.workload.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="workload.employee.id">
                        <a [routerLink]="['/employee', workload.employee.id, 'view']">{{workload.employee.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/workload', workload.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
