<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.workload.home.title">Workloads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-workload" [routerLink]="['/workload/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.workload.home.createLabel">
            Create a new Workload
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="workloads?.length === 0">
        <span jhiTranslate="hotelManagementApp.workload.home.notFound">No workloads found</span>
    </div>
    <div class="table-responsive" *ngIf="workloads?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="hotelManagementApp.workload.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="hotelManagementApp.workload.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="breakIncluded"><span jhiTranslate="hotelManagementApp.workload.breakIncluded">breakIncluded</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="employeeId"><span jhiTranslate="hotelManagementApp.workload.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workload of workloads ;trackBy: trackId">
                <td><a [routerLink]="['/workload', workload.id, 'view' ]">{{workload.id}}</a></td>
                <td>{{workload.startDate | date:'medium'}}</td>
                <td>{{workload.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'hotelManagementApp.breakIncluded.' + workload.breakIncluded}}">{{workload.breakIncluded}}</td>
                <td>
                    <div *ngIf="workload.employeeId">
                        <a [routerLink]="['/employee', workload.employeeId , 'view' ]" >{{workload.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="button"
                                (click)="acceptWorkload(workload.id)"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'check'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.accept">Accept</span>
                        </button>
                        <button type="button"
                                (click)="rejectWorkload(workload.id)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.reject">Reject</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="workloads?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
