<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="hotelManagementApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.customer.companyName">Company Name</span></dt>
                <dd>
                    <span>{{customer.companyName}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.notes">Notes</span></dt>
                <dd>
                    <span>{{customer.notes}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.discountPercent">Discount Percent</span></dt>
                <dd>
                    <span>{{customer.discountPercent}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.webpage">Webpage</span></dt>
                <dd>
                    <span>{{customer.webpage}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.fax">Fax</span></dt>
                <dd>
                    <span>{{customer.fax}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.name">Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.birthday">Birthday</span></dt>
                <dd>
                    <span>{{customer.birthday}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'hotelManagementApp.Gender.' + customer.gender}}">{{customer.gender}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.tel">Tel</span></dt>
                <dd>
                    <span>{{customer.tel}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{customer.email}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.billingAddress">Billing Address</span></dt>
                <dd>
                    <span class="with-newlines">{{customer.billingAddress}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.customer.user">User</span></dt>
                <dd>
                    {{customer.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
