<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-hotel-heading" jhiTranslate="hotelManagementApp.hotel.home.createOrEditLabel">Create or edit a Hotel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.hotel.hotelAddress" for="field_hotelAddress">Hotel Address</label>
                    <input type="text" class="form-control" name="hotelAddress" id="field_hotelAddress"
                           formControlName="hotelAddress"/>
                    <div *ngIf="editForm.get('hotelAddress').invalid && (editForm.get('hotelAddress').dirty || editForm.get('hotelAddress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hotelAddress').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.hotel.defaultCancellationNoticeNights" for="field_defaultCancellationNoticeNights">Default Cancellation Notice Nights</label>
                    <input type="number" class="form-control" name="defaultCancellationNoticeNights" id="field_defaultCancellationNoticeNights"
                           formControlName="defaultCancellationNoticeNights"/>
                    <div *ngIf="editForm.get('defaultCancellationNoticeNights').invalid && (editForm.get('defaultCancellationNoticeNights').dirty || editForm.get('defaultCancellationNoticeNights').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defaultCancellationNoticeNights').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defaultCancellationNoticeNights').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('defaultCancellationNoticeNights')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
