<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.hotel.home.title">Hotels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hotel" [routerLink]="['/hotel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.hotel.home.createLabel">
            Create a new Hotel
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="hotels?.length === 0">
        <span jhiTranslate="hotelManagementApp.hotel.home.notFound">No hotels found</span>
    </div>
    <div class="table-responsive" *ngIf="hotels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hotelAddress"><span jhiTranslate="hotelManagementApp.hotel.hotelAddress">Hotel Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="defaultCancellationNoticeNights"><span jhiTranslate="hotelManagementApp.hotel.defaultCancellationNoticeNights">Default Cancellation Notice Nights</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels ;trackBy: trackId">
                <td><a [routerLink]="['/hotel', hotel.id, 'view' ]">{{hotel.id}}</a></td>
                <td>{{hotel.hotelAddress}}</td>
                <td>{{hotel.defaultCancellationNoticeNights}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/hotel', hotel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hotel', hotel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hotel', { outlets: { popup: hotel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="hotels?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
