<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hotel">
            <h2><span jhiTranslate="hotelManagementApp.hotel.detail.title">Hotel</span> {{hotel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.hotel.hotelAddress">Hotel Address</span></dt>
                <dd>
                    <span>{{hotel.hotelAddress}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.hotel.defaultCancellationNoticeNights">Default Cancellation Notice Nights</span></dt>
                <dd>
                    <span>{{hotel.defaultCancellationNoticeNights}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hotel', hotel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
