<div class="row justify-content-center">
    <div class="col-8">
        <form name="sendForm" role="form" novalidate (ngSubmit)="send()" [formGroup]="sendForm">
            <h2 id="jhi-simple-advertisement-heading" jhiTranslate="hotelManagementApp.simpleAdvertisement.home.title">Advertisement</h2>
            <p id="jhi-simple-advertisement-feature-info" jhiTranslate="hotelManagementApp.simpleAdvertisement.home.featureInfo">After clicking send, the message will be send to all customers via email.</p>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.simpleAdvertisement.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           formControlName="subject"/>
                    <div *ngIf="sendForm.get('subject').invalid && (sendForm.get('subject').dirty || sendForm.get('subject').touched)">
                        <small class="form-text text-danger"
                               *ngIf="sendForm.get('subject').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.simpleAdvertisement.body" for="field_body">Text</label>
                    <textarea class="form-control" name="body" id="field_body"
                              formControlName="body" rows="10"></textarea>
                    <div *ngIf="sendForm.get('body').invalid && (sendForm.get('body').dirty || sendForm.get('body').touched)">
                        <small class="form-text text-danger"
                               *ngIf="sendForm.get('body').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center justify-content-around">
                <button type="submit" id="save-entity" [disabled]="sendForm.invalid || isSending" class="btn btn-primary">
                    <fa-icon [icon]="'paper-plane'"></fa-icon>&nbsp;
                    <span jhiTranslate="hotelManagementApp.simpleAdvertisement.home.sendLabel">Send</span>
                </button>
            </div>
        </form>
    </div>
</div>
