<jhi-page-ribbon *ngIf="!isInPrintView()"></jhi-page-ribbon>
<div [ngSwitch]="isAuthenticated()" *ngIf="!isInPrintView()">
    <router-outlet *ngSwitchCase="true" name="navbar"></router-outlet>
    <router-outlet *ngSwitchCase="false" name="navmenu"></router-outlet>
</div>
<div [ngClass]="isAuthenticated()&&!isInPrintView() ? 'container-fluid' : ''">
    <div [ngClass]="isAuthenticated() && !isInPrintView() ? 'card jh-card' : ''">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer *ngIf="!isInPrintView()"></jhi-footer>
</div>
