<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2 class="d-inline mr-5"><span
                jhiTranslate="hotelManagementApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <span class="mr-5" [ngClass]="(invoice.invoiceState === 'ACTIVE')?'active':'cancelled'"
                  jhiTranslate="{{'hotelManagementApp.invoice.state.' + invoice.invoiceState}}">Active/Cancelled</span>
            <button type="submit" *ngIf="invoice.invoiceState !== 'CANCELLED'"
                    [routerLink]="['/invoice', invoice.id, 'print']"
                    queryParamsHandling="merge"
                    class="btn btn-warning btn-sm">
                <span class="d-none d-md-inline" jhiTranslate="entity.action.print">Delete</span>
            </button>
            <button type="submit" *ngIf="invoice.invoiceState !== 'CANCELLED'"
                    [routerLink]="['/invoice', { outlets: { popup: invoice.id + '/cancel'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-danger btn-sm">
                <span class="d-none d-md-inline" jhiTranslate="hotelManagementApp.invoice.cancel.action">Cancel</span>
            </button>

            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="form-row space-between">
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="hotelManagementApp.invoice.bookingId">Booking Id</span></dt>
                    <dd>
                        <span>{{booking.id}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.startDate">Start date</span></dt>
                    <dd>
                        <span>{{invoice.startDate | date:'short'}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.endDate">End date</span></dt>
                    <dd>
                        <span>{{invoice.endDate | date:'short'}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.stayDuration">Duration</span></dt>
                    <dd>
                        <span>{{invoice.durationNights + ' ' + ('hotelManagementApp.booking.durationNights' | translate)}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.invoice.invoiceDate">Invoice Date</span></dt>
                    <dd>
                        <span>{{invoice.invoiceDate | date:'short'}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.invoice.hotel">Hotel</span></dt>
                    <dd>
                        <div *ngIf="invoice.hotelAddress">{{invoice.hotelAddress}}</div>
                    </dd>
                </dl>
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="hotelManagementApp.booking.rooms">Rooms</span></dt>
                    <dd *ngFor="let room of invoice.rooms">
                        <span>{{room.roomNumber + ' (' + room.numberAdults + ' ' + ('hotelManagementApp.roomOccupancy.numberAdults' | translate) + ', ' + room.numberChildren + ' ' + ('hotelManagementApp.roomOccupancy.numberChildren' | translate) + ')'}}</span>
                    </dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.price">Price</span></dt>
                    <dd><span>{{invoice.prices[invoice.prices.length-1].price | currency:'EUR'}}</span></dd>
                    <dt><span jhiTranslate="hotelManagementApp.booking.discountPercent">Discount</span></dt>
                    <dd><span>{{invoice.discountPercent + '%'}}</span></dd>
                </dl>
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="hotelManagementApp.booking.customer">Customer</span></dt>
                    <dd><span>{{invoice.customerName}}</span></dd>
                    <dt><span jhiTranslate="hotelManagementApp.customer.billingAddress">Billing Address</span></dt>
                    <dd><span>{{invoice.customerAddress}}</span></dd>
                </dl>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
