<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.invoice.home.title">Invoices</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bookings?.length === 0">
        <span jhiTranslate="hotelManagementApp.invoice.home.notFound">No invoices found</span>
    </div>
    <div class="table-responsive" *ngIf="bookings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="hotelManagementApp.invoice.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="id"><span
                    jhiTranslate="hotelManagementApp.invoice.bookingId">BookingId</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="id"><span
                    jhiTranslate="hotelManagementApp.booking.startDate">StartDate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="id"><span jhiTranslate="hotelManagementApp.booking.endDate">EndDate</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="id"><span
                    jhiTranslate="hotelManagementApp.booking.durationNights">Nights</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="id"><span jhiTranslate="hotelManagementApp.booking.customer">Customer</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="id"><span jhiTranslate="hotelManagementApp.booking.price">Price</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="invoiceDate"><span jhiTranslate="hotelManagementApp.invoice.invoiceDate">Invoice Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings ;trackBy: trackId"
                [class.cancelled]="getLastInvoice(booking.invoices).invoiceState === 'CANCELLED'">
                <td><span><a
                    [routerLink]="['/invoice', getLastInvoice(booking.invoices).id, 'view' ]">{{getLastInvoice(booking.invoices).id}}</a></span>
                </td>
                <td><span>{{booking.id}}</span></td>
                <td><span>{{getLastInvoice(booking.invoices).startDate | date:'short'}}</span></td>
                <td><span>{{getLastInvoice(booking.invoices).endDate | date:'short'}}</span></td>
                <td><span>{{getLastInvoice(booking.invoices).durationNights}}</span></td>
                <td><span>{{getLastInvoice(booking.invoices).customerName}}</span></td>
                <td>
                    <span>{{getLastInvoice(booking.invoices).prices[getLastInvoice(booking.invoices).prices.length - 1].price | currency:'EUR'}}</span>
                </td>
                <td><span>{{getLastInvoice(booking.invoices).invoiceDate | date:'short'}}</span></td>
                <td class="text-right">
                    <span *ngIf="getLastInvoice(booking.invoices).invoiceState === 'CANCELLED'" class="mr-3"
                          style="text-decoration: none; text-transform: uppercase;">
                        <span
                            jhiTranslate="hotelManagementApp.invoice.state.CANCELLED">{{getLastInvoice(booking.invoices).invoiceState}}</span>
                    </span>
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/invoice', getLastInvoice(booking.invoices).id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *ngIf="getLastInvoice(booking.invoices).invoiceState !== 'CANCELLED'"
                                [routerLink]="['/invoice', { outlets: { popup: getLastInvoice(booking.invoices).id + '/cancel'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="hotelManagementApp.invoice.cancel.action">Cancel</span>
                        </button>

                        <button type="submit" *ngIf="getLastInvoice(booking.invoices).invoiceState !== 'CANCELLED'"
                                [routerLink]="['/invoice',getLastInvoice(booking.invoices).id, 'print']"
                                queryParamsHandling="merge"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'print'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.print">Drucken</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="bookings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
