<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="hotelManagementApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.employee.employeeType">Employee Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'hotelManagementApp.EmployeeType.' + employee.employeeType}}">{{employee.employeeType}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.shortId">Short Id</span></dt>
                <dd>
                    <span>{{employee.shortId}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.insuranceNumber">Insurance Number</span></dt>
                <dd>
                    <span>{{employee.insuranceNumber}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.accountData">Account Data</span></dt>
                <dd>
                    <span>{{employee.accountData}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.contractType">Contract Type</span></dt>
                <dd>
                    <span>{{employee.contractType}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.tasks">Tasks</span></dt>
                <dd>
                    <span>{{employee.tasks}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.name">Name</span></dt>
                <dd>
                    <span>{{employee.name}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.birthday">Birthday</span></dt>
                <dd>
                    <span>{{employee.birthday}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{'hotelManagementApp.Gender.' + employee.gender}}">{{employee.gender}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.tel">Tel</span></dt>
                <dd>
                    <span>{{employee.tel}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.email">Email</span></dt>
                <dd>
                    <span>{{employee.userEmail}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.address">Address</span></dt>
                <dd>
                    <span>{{employee.address}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.userName">Username</span></dt>
                <dd>
                    {{employee.userName}}
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.employee.boss">Boss</span></dt>
                <dd>
                    <div *ngIf="employee.bossId">
                        <a [routerLink]="['/employee', employee.bossId, 'view']">{{employee.bossName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
