<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.employee.home.title">Employees</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN']" id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/employee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.employee.home.createLabel">
            Create a new Employee
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="employees?.length === 0">
        <span jhiTranslate="hotelManagementApp.employee.home.notFound">No employees found</span>
    </div>
    <form name="searchForm" role="form" novalidate [formGroup]="searchForm">
        <div class="form-group">
            <input type="text" name="term" class="form-control"  formControlName="term" placeholder="{{'global.search.placeholder' | translate}}" (input)="onChangeSearchTerm()"/>
        </div>
    </form>
    <div class="table-responsive" *ngIf="employees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="name"><span jhiTranslate="hotelManagementApp.employee.name">Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
            <th scope="col"  jhiSortBy="shortId"><span jhiTranslate="hotelManagementApp.employee.shortId">Short Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="birthday"><span jhiTranslate="hotelManagementApp.employee.birthday">Birthday</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="gender"><span jhiTranslate="hotelManagementApp.employee.gender">Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tel"><span jhiTranslate="hotelManagementApp.employee.tel">Tel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="hotelManagementApp.employee.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col" jhiSortBy="employeeType"><span jhiTranslate="hotelManagementApp.employee.employeeType">Employee Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <!--            <th scope="col"  jhiSortBy="insuranceNumber"><span jhiTranslate="hotelManagementApp.employee.insuranceNumber">Insurance Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <!--            <th scope="col"  jhiSortBy="accountData"><span jhiTranslate="hotelManagementApp.employee.accountData">Account Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <!--            <th scope="col"  jhiSortBy="contractType"><span jhiTranslate="hotelManagementApp.employee.contractType">Contract Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th scope="col" jhiSortBy="tasks"><span jhiTranslate="hotelManagementApp.employee.tasks">Tasks</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <!--            <th scope="col"  jhiSortBy="address"><span jhiTranslate="hotelManagementApp.employee.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th scope="col" jhiSortBy="userId"><span
                    jhiTranslate="hotelManagementApp.employee.userName">Username</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
            <th scope="col"  jhiSortBy="bossId"><span jhiTranslate="hotelManagementApp.employee.boss">Boss</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees ;trackBy: trackId">
                <td>{{employee.name}}</td>
                <td>{{employee.shortId}}</td>
                <td>{{employee.birthday | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'hotelManagementApp.Gender.' + employee.gender}}">{{employee.gender}}</td>
                <td>{{employee.tel}}</td>
                <td>{{employee.userEmail}}</td>
                <td jhiTranslate="{{'hotelManagementApp.EmployeeType.' + employee.employeeType}}">{{employee.employeeType}}</td>
                <!--                <td>{{employee.insuranceNumber}}</td>-->
                <!--                <td>{{employee.accountData}}</td>-->
                <!--                <td>{{employee.contractType}}</td>-->
                <td>{{employee.tasks}}</td>
                <!--                <td>{{employee.address}}</td>-->
                <td><a [routerLink]="['/employee', employee.id, 'view' ]">{{employee.userName}}</a></td>
                <td>
                    <div *ngIf="employee.bossName">
                        <a [routerLink]="['/employee', employee.bossId , 'view' ]" >{{employee.bossName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/employee', employee.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/employee', employee.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/employee', { outlets: { popup: employee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="employees?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
