<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-heading" jhiTranslate="hotelManagementApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.employeeType" for="field_employeeType">Employee Type</label>
                    <select class="form-control" name="employeeType" formControlName="employeeType" id="field_employeeType">
                        <option value="RECEPTION">{{'hotelManagementApp.EmployeeType.RECEPTION' | translate}}</option>
                        <option value="KITCHEN">{{'hotelManagementApp.EmployeeType.KITCHEN' | translate}}</option>
                        <option value="SERVICE">{{'hotelManagementApp.EmployeeType.SERVICE' | translate}}</option>
                        <option value="CLEANING">{{'hotelManagementApp.EmployeeType.CLEANING' | translate}}</option>
                        <option value="OTHER">{{'hotelManagementApp.EmployeeType.OTHER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('employeeType').invalid && (editForm.get('employeeType').dirty || editForm.get('employeeType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('employeeType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.shortId" for="field_shortId">Short Id</label>
                    <input type="text" class="form-control" name="shortId" id="field_shortId"
                           formControlName="shortId"/>
                    <div *ngIf="editForm.get('shortId').invalid && (editForm.get('shortId').dirty || editForm.get('shortId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shortId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.insuranceNumber" for="field_insuranceNumber">Insurance Number</label>
                    <input type="text" class="form-control" name="insuranceNumber" id="field_insuranceNumber"
                           formControlName="insuranceNumber"/>
                    <div *ngIf="editForm.get('insuranceNumber').invalid && (editForm.get('insuranceNumber').dirty || editForm.get('insuranceNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('insuranceNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.accountData" for="field_accountData">Account Data</label>
                    <input type="text" class="form-control" name="accountData" id="field_accountData"
                           formControlName="accountData"/>
                    <div *ngIf="editForm.get('accountData').invalid && (editForm.get('accountData').dirty || editForm.get('accountData').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountData').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.contractType" for="field_contractType">Contract Type</label>
                    <input type="text" class="form-control" name="contractType" id="field_contractType"
                           formControlName="contractType"/>
                    <div *ngIf="editForm.get('contractType').invalid && (editForm.get('contractType').dirty || editForm.get('contractType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contractType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.tasks" for="field_tasks">Tasks</label>
                    <input type="text" class="form-control" name="tasks" id="field_tasks"
                           formControlName="tasks"/>
                    <div *ngIf="editForm.get('tasks').invalid && (editForm.get('tasks').dirty || editForm.get('tasks').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tasks').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.birthday" for="field_birthday">Birthday</label>
                    <div class="input-group">
                        <input id="field_birthday" type="text" class="form-control" name="birthday" ngbDatepicker  #birthdayDp="ngbDatepicker" formControlName="birthday"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('birthday').invalid && (editForm.get('birthday').dirty || editForm.get('birthday').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthday').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{'hotelManagementApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'hotelManagementApp.Gender.FEMALE' | translate}}</option>
                        <option value="OTHER">{{'hotelManagementApp.Gender.OTHER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('gender').invalid && (editForm.get('gender').dirty || editForm.get('gender').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.tel" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                           formControlName="tel"/>
                    <div *ngIf="editForm.get('tel').invalid && (editForm.get('tel').dirty || editForm.get('tel').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tel').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.email" for="field_email">Email</label>-->
                <!--                    <input type="text" class="form-control" name="email" id="field_email"-->
                <!--                           formControlName="email"/>-->
                <!--                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">-->
                <!--                        <small class="form-text text-danger"-->
                <!--                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">-->
                <!--                        This field is required.-->
                <!--                        </small>-->
                <!--                        <small class="form-text text-danger"-->
                <!--                               *ngIf="editForm.get('email').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">-->
                <!--                            This field should follow pattern for "Email".-->
                <!--                        </small>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                    <div *ngIf="editForm.get('address').invalid && (editForm.get('address').dirty || editForm.get('address').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('address').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

<!--                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.employee.boss" for="field_boss">Boss</label>
                    <select class="form-control" id="field_boss" name="boss" formControlName="bossId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
