<!--div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
        <p class="lead" jhiTranslate="home.refresh">It's not changing after refresh...</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div-->


<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1" jhiTranslate="home.header.main">Hotel Zum Goldenen Löwen</h1>
        <h3 class="mb-5">
            <em jhiTranslate="home.header.sub">Here You Are The Star</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" jhiTranslate="home.header.action">Find Out More</a>
    </div>
    <div class="overlay"></div>
</header>

<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 jhiTranslate="home.about.title">Live Like A Star!</h2>
                <p class="lead mb-5" jhiTranslate="home.about.text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services" jhiTranslate="home.about.action">What We Offer</a>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="content-section bg-dark text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0" jhiTranslate="home.services.slug">Services</h3>
            <h2 class="mb-5" jhiTranslate="home.services.title">What We Offer</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <fa-icon icon="video"></fa-icon>
              </span>
                <h4>
                    <strong jhiTranslate="home.services.service_1.title">Private Cinema</strong>
                </h4>
                <p class="text-faded mb-0" jhiTranslate="home.services.service_1.text">Huge Screen!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <fa-icon icon="pen"></fa-icon>
              </span>
                <h4>
                    <strong jhiTranslate="home.services.service_2.title">Service #2</strong>
                </h4>
                <p class="text-faded mb-0" jhiTranslate="home.services.service_2.text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <fa-icon icon="thumbs-up"></fa-icon>
              </span>
                <h4>
                    <strong jhiTranslate="home.services.service_3.title">Service #3</strong>
                </h4>
                <p class="text-faded mb-0" jhiTranslate="home.services.service_3.text">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-3 col-md-6">
              <span class="service-icon rounded-circle mx-auto mb-3">
                <fa-icon icon="music"></fa-icon>
              </span>
                <h4>
                    <strong jhiTranslate="home.services.service_4.title">Service #4</strong>
                </h4>
                <p class="text-faded mb-0" jhiTranslate="home.services.service_4.text">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-primary mb-0" jhiTranslate="home.portfolio.slug">Images</h3>
            <h2 class="mb-5" jhiTranslate="home.portfolio.title">Our Star Suite</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#contact">
                    <span class="caption">
                      <span class="caption-content">
                        <h2 jhiTranslate="home.portfolio.item_1.title">Stationary</h2>
                        <p class="mb-0" jhiTranslate="home.portfolio.item_1.text">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                      </span>
                    </span>
                    <img class="img-fluid" src="../../content/images/pic_room_nik-lanus-YMOHw3F1Hdk-unsplash.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#contact">
                    <span class="caption">
                      <span class="caption-content">
                        <h2 jhiTranslate="home.portfolio.item_2.title">Ice Cream</h2>
                        <p class="mb-0" jhiTranslate="home.portfolio.item_2.text">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                      </span>
                    </span>
                    <img class="img-fluid" src="../../content/images/pic_bar_crew-szCvt1gP2d4-unsplash.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#contact">
                    <span class="caption">
                      <span class="caption-content">
                        <h2 jhiTranslate="home.portfolio.item_3.title">Strawberries</h2>
                        <p class="mb-0" jhiTranslate="home.portfolio.item_3.text">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                      </span>
                    </span>
                    <img class="img-fluid" src="../../content/images/pic_office_justin-docanto-1NEVlrYE-uU-unsplash.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#contact">
                    <span class="caption">
                      <span class="caption-content">
                        <h2 jhiTranslate="home.portfolio.item_4.title">Workspace</h2>
                        <p class="mb-0" jhiTranslate="home.portfolio.item_4.text">A yellow workspace with some scissors, pencils, and other objects.</p>
                      </span>
                    </span>
                    <img class="img-fluid" src="../../content/images/pic_pool_li-yang-a8iCZvtrHpQ-unsplash.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section id="contact" class="content-section bg-primary text-white">
    <div class="container text-center">
        <h2 class="mb-4" jhiTranslate="home.contact.title">Book Now!</h2>
        <a href="tel:+123456789" class="btn btn-xl btn-light mr-4" jhiTranslate="home.contact.phone">Call Us!</a>
        <a href="mailto:sisw19.scrum01@gmail.com" class="btn btn-xl btn-light" jhiTranslate="home.contact.email">Write Us!</a>
    </div>
</section>

<!-- Map -->
<section id="getting-there" class="map">
    <!-- custom loc: -->
    <!--iframe  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5469.3600583478255!2d15.585342351920474!3d46.73177224569599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaeb81a9189bbc9ed!2sHotel%20zum%20Goldenen%20L%C3%B6wen!5e0!3m2!1sde!2sat!4v1573853737414!5m2!1sde!2sat"></iframe-->

    <!-- custom loc adapted: -->
    <iframe  width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5469.3600583478255!2d15.585342351920474!3d46.73177224569599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaeb81a9189bbc9ed!2sHotel%20zum%20Goldenen%20L%C3%B6wen!5e0!3m2!1sde!2sat!4v1573853737414!5m2!1sde!2sat"></iframe>

    <!-- from theme: -->
    <!--iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe-->
    <br />
    <small>
        <!-- custom loc: -->
        <a href="https://goo.gl/maps/Ba3Hyq3hS3BEVd598https://goo.gl/maps/Ba3Hyq3hS3BEVd598"></a>
        <!-- from theme: -->
        <!--a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a-->
    </small>
</section>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <!--ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul-->
        <p class="text-muted small mb-0">Copyright &copy; Scrum01</p>
        <p class="text-muted small mb-0">Credits: <a style="padding-right: 6px;" href="https://startbootstrap.com/themes/stylish-portfolio/">Stylish Portfolio Theme</a> <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@pwellgraf?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Pontus Wellgraf"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Pontus Wellgraf</span></a> <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@niklanus?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Nik Lanús"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Nik Lanús</span></a> <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@crew?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Crew"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Crew</span></a> <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@justindocanto?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Justin DoCanto"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Justin DoCanto</span></a> <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@ly0ns?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Li Yang"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Li Yang</span></a></p>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <fa-icon icon="angle-up"></fa-icon>
</a>

<script type="text/javascript">
    (function($) {
        "use strict"; // Start of use strict

        // Scroll to top button appear
        $(document).scroll(function() {
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.scroll-to-top').fadeIn();
            } else {
                $('.scroll-to-top').fadeOut();
            }
        });

    })(jQuery); // End of use strict

    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);


</script>
