<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vacation">
            <h2><span jhiTranslate="hotelManagementApp.vacation.detail.title">Vacation</span> {{vacation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.vacation.startDate">Start Date</span></dt>
                <dd>
                    <span>{{vacation.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.vacation.endDate">End Date</span></dt>
                <dd>
                    <span>{{vacation.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.vacation.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'hotelManagementApp.VacationStatus.' + vacation.status}}">{{vacation.status}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.vacation.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="vacation.employee.id">
                        <a [routerLink]="['/employee', vacation.employee.id, 'view']">{{vacation.employee.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.vacation.absenceReason">Absence Reason</span></dt>
                <dd>
                    <div *ngIf="vacation.absenceReasonId">
                        <a [routerLink]="['/absence-reason', vacation.absenceReasonId, 'view']" jhiTranslate="{{'hotelManagementApp.absenceReason.reasons.'+vacation.absenceReasonReason}}">Reason</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vacation', vacation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
