<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.vacation.home.title">Vacations</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN']" id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-vacation" [routerLink]="['/vacation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.vacation.home.createLabel">
            Create a new Vacation
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="vacations?.length === 0">
        <span jhiTranslate="hotelManagementApp.vacation.home.notFound">No vacations found</span>
    </div>
    <div class="table-responsive" *ngIf="vacations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="hotelManagementApp.vacation.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="hotelManagementApp.vacation.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="hotelManagementApp.vacation.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="employeeId"><span jhiTranslate="hotelManagementApp.vacation.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacation of vacations ;trackBy: trackId">
                <td><a [routerLink]="['/vacation', vacation.id, 'view' ]">{{vacation.id}}</a></td>
                <td>{{vacation.startDate | date:'medium'}}</td>
                <td>{{vacation.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'hotelManagementApp.VacationStatus.' + vacation.status}}">{{vacation.status}}</td>
                <td>
                    <div *ngIf="vacation.employee.id">
                        <a [routerLink]="['/employee', vacation.employee.id , 'view' ]" >{{vacation.employee.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="button"
                                (click)="acceptVacation(vacation.id)"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'check'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.accept">Accept</span>
                        </button>
                        <button type="button"
                                (click)="rejectVacation(vacation.id)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.reject">Reject</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="vacations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
