<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vacation-heading" jhiTranslate="hotelManagementApp.vacation.home.createOrEditLabel">Create or
                edit a Vacation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.vacation.startDate"
                           for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate"
                               formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div
                        *ngIf="editForm.get('startDate').invalid && (editForm.get('startDate').dirty || editForm.get('startDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('startDate').errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.vacation.endDate"
                           for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate"
                               formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div
                        *ngIf="editForm.get('endDate').invalid && (editForm.get('endDate').dirty || editForm.get('endDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endDate').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('endDate').errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label class="form-control-label" jhiTranslate="hotelManagementApp.vacation.status" for="field_status">Status</label>-->
                <!--                    <select class="form-control" name="status" formControlName="status" id="field_status">-->
                <!--                        <option value="REQUESTED">{{'hotelManagementApp.VacationStatus.REQUESTED' | translate}}</option>-->
                <!--                        <option value="ACCEPTED">{{'hotelManagementApp.VacationStatus.ACCEPTED' | translate}}</option>-->
                <!--                        <option value="DECLINED">{{'hotelManagementApp.VacationStatus.DECLINED' | translate}}</option>-->
                <!--                    </select>-->
                <!--                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">-->
                <!--                        <small class="form-text text-danger"-->
                <!--                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">-->
                <!--                            This field is required.-->
                <!--                        </small>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.vacation.absenceReason"
                           for="field_absenceReason">Absence Reason</label>
                    <select class="form-control" id="field_absenceReason" name="absenceReason"
                            formControlName="absenceReasonId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="absenceReasonOption.id"
                                *ngFor="let absenceReasonOption of absencereasons; trackBy: trackAbsenceReasonById" jhiTranslate="{{'hotelManagementApp.absenceReason.reasons.'+absenceReasonOption.reason}}">Reason</option>
                    </select>
                    <div *ngIf="editForm.get('absenceReasonId').invalid && (editForm.get('absenceReasonId').dirty || editForm.get('absenceReasonId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('absenceReasonId').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
