<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.vacation.home.title">Vacations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vacation"
                [routerLink]="['/vacation/request']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="hotelManagementApp.vacation.home.requestLabel">
            Request Vacation
            </span>
        </button>
        <button id="jh-manage-entity" class="btn btn-warning float-right jh-create-entity create-vacation"
                [routerLink]="['/vacation/boss']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="hotelManagementApp.vacation.home.manageRequests">
            Manage Requests
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="vacations?.length === 0">
        <span jhiTranslate="hotelManagementApp.vacation.home.notFound">No vacations found</span>
    </div>
    <div class="table-responsive" *ngIf="vacations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="hotelManagementApp.vacation.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="hotelManagementApp.vacation.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="hotelManagementApp.vacation.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="employeeId"><span jhiTranslate="hotelManagementApp.vacation.employee">Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col" jhiSortBy="absenceReasonReason"><span
                    jhiTranslate="hotelManagementApp.vacation.absenceReason">Absence Reason</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacation of vacations ;trackBy: trackId">
                <td><a [routerLink]="['/vacation', vacation.id, 'view' ]">{{vacation.id}}</a></td>
                <td>{{vacation.startDate | date:'medium'}}</td>
                <td>{{vacation.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'hotelManagementApp.VacationStatus.' + vacation.status}}">{{vacation.status}}</td>
                <td>
                    <div *ngIf="vacation.employee.id">
                        <a [routerLink]="['/employee', vacation.employee.id , 'view' ]" >{{vacation.employee.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vacation.absenceReasonId">
                        <a [routerLink]="['/absence-reason', vacation.absenceReasonId , 'view' ]" jhiTranslate="{{'hotelManagementApp.absenceReason.reasons.'+vacation.absenceReasonReason}}">Reason</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/vacation', vacation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/vacation', vacation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vacation', { outlets: { popup: vacation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="vacations?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
