a {
  color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 10%);
  }
}

.btn-primary {
  background-color: $primary !important;
  border-color: $gray-400 !important;
  color: $white !important;
  &:hover,
  &:focus,
  &.focus,
  &:active {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
    box-shadow: 0 0 0 0.2rem #00000040 !important;
  }
}

.btn-secondary {
  background-color: $secondary !important;
  border-color: $gray-400 !important;
  color: $black !important;
  &:hover,
  &:focus,
  &.focus,
  &:active {
    background-color: darken($secondary, 10%) !important;
    border-color: darken($secondary, 10%) !important;
    box-shadow: 0 0 0 0.2rem #00000040 !important;
  }
}

.btn-link {
  color: $primary !important;
}

.btn-dark {
  color: $white !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.form-control:focus,
.custom-select:focus {
  border-color: #a0a0a0 !important;
  box-shadow: 0 0 0 0.2rem #a0a0a040 !important;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.5 !important;
}

.ngb-dp-weekday {
  color: $black !important;
}
