<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="defect">
            <h2><span jhiTranslate="hotelManagementApp.defect.detail.title">Defect</span> {{defect.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hotelManagementApp.defect.description">Description</span></dt>
                <dd>
                    <span>{{defect.description}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.defect.defectState">Defect State</span></dt>
                <dd>
                    <span jhiTranslate="{{'hotelManagementApp.DefectState.' + defect.defectState}}">{{defect.defectState}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.defect.discountPercent">Discount Percent</span></dt>
                <dd>
                    <span>{{defect.discountPercent}}</span>
                </dd>
                <dt><span jhiTranslate="hotelManagementApp.defect.room">Room</span></dt>
                <dd>
                    <div *ngIf="defect.roomId">
                        <a [routerLink]="['/room', defect.roomId, 'view']">{{defect.roomNr}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/defect', defect.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
