<div>
    <h2 id="page-heading">
        <span jhiTranslate="hotelManagementApp.defect.home.title">Defects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-defect" [routerLink]="['/defect/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hotelManagementApp.defect.home.createLabel">
            Create a new Defect
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="defects?.length === 0">
        <span jhiTranslate="hotelManagementApp.defect.home.notFound">No defects found</span>
    </div>
    <form name="searchForm" role="form" novalidate [formGroup]="searchForm">
        <div class="form-group">
            <input type="text" name="term" class="form-control"  formControlName="term" placeholder="{{'global.search.placeholder' | translate}}" (input)="onChangeSearchTerm()"/>
        </div>
    </form>
    <div class="table-responsive" *ngIf="defects?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="hotelManagementApp.defect.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="defectState"><span jhiTranslate="hotelManagementApp.defect.defectState">Defect State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="discountPercent"><span jhiTranslate="hotelManagementApp.defect.discountPercent">Discount Percent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="roomId"><span jhiTranslate="hotelManagementApp.defect.room">Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let defect of defects ;trackBy: trackId">
<!--                <td><a [routerLink]="['/defect', defect.id, 'view' ]">{{defect.id}}</a></td>-->
                <td><a [routerLink]="['/defect', defect.id, 'view' ]">{{defect.description}}</a></td>
                <td jhiTranslate="{{'hotelManagementApp.DefectState.' + defect.defectState}}">{{defect.defectState}}</td>
                <td>{{defect.discountPercent}}</td>
                <td>
                    <div *ngIf="defect.roomId">
                        <a [routerLink]="['/room', defect.roomId , 'view' ]" >{{defect.roomNr}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/defect', defect.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/defect', defect.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/defect', { outlets: { popup: defect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="defects?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
