<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-defect-heading" jhiTranslate="hotelManagementApp.defect.home.createOrEditLabel">Create or edit a Defect</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.defect.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.defect.defectState" for="field_defectState">Defect State</label>
                    <select class="form-control" name="defectState" formControlName="defectState" id="field_defectState">
                        <option value="IN_PROGRESS">{{'hotelManagementApp.DefectState.IN_PROGRESS' | translate}}</option>
                        <option value="RESOLVED">{{'hotelManagementApp.DefectState.RESOLVED' | translate}}</option>
                        <option value="NEW">{{'hotelManagementApp.DefectState.NEW' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('defectState').invalid && (editForm.get('defectState').dirty || editForm.get('defectState').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defectState').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.defect.discountPercent" for="field_discountPercent">Discount Percent</label>
                    <input type="number" class="form-control" name="discountPercent" id="field_discountPercent" min="0"
                           max="100"
                           formControlName="discountPercent"/>
                    <div *ngIf="editForm.get('discountPercent').invalid && (editForm.get('discountPercent').dirty || editForm.get('discountPercent').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discountPercent').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discountPercent').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discountPercent').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('discountPercent')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hotelManagementApp.defect.room" for="field_room">Room</label>
                    <select class="form-control" id="field_room" name="room" formControlName="roomId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="roomOption.id" *ngFor="let roomOption of rooms; trackBy: trackRoomById">{{roomOption.number}}</option>
                    </select>
                    <div *ngIf="editForm.get('roomId').invalid && (editForm.get('roomId').dirty || editForm.get('roomId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roomId').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
